html
{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin-left:0rem;
    margin-right: 0rem;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
*,
*::before
*::after
{
    box-sizing:inherit
}
body{
    font-family: 'Quicksand', sans-serif;
}
/* ====== Variables =====*/
:root{

    --bg_color_nav:#154360;
    --width_general:100%-2rem ;
    --height_nav: 3.5rem;
    --detalles:#839192;
    font-family: 'Quicksand', sans-serif;
}
/* =============================================== Index ==================================================*/
/* -------------------- nav --------------------- */
.index_nav {
    height:var(--height_nav);
    width:100%;
    margin: 0rem;
    
    background-color: var(--bg_color_nav);
    
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
/*-------------------------------------------*/  
.index_nav_image{
    display: flex;
    order: 2;
    width: 50%;
    height: 100%;
    padding:.2rem;
    align-items: center;
    box-sizing: border-box;
    
}
.index_nav_image_url{
    background-image: url(/img/logo.png);
    background-size: 100% 100%;
    height: 100%;
    width: 3.3rem;
    border-radius: .3rem;
    
    
   
 
}
.index_nav_image_nombre{
   
    box-sizing: border-box;
    /*por si se quiere agregar algo*/
    
}
/*--------------------------------------------*/
.index_nav{
    margin: 0rem;
}
.index_nav_ul {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    order: 1;
    
    /* anti-boostrap*/
    padding-left: 0rem;
    margin-bottom: 0rem;
    
}
.index_nav_ul *{
    text-decoration: none;
    padding: .3rem;
    list-style-type: none;
    color: #ffffff   ;
    font-size: 1.15rem;
    
}
.index_nav_ul *:hover{
    text-decoration: none;
    padding: .3rem;
    list-style-type: none;
    color: #ffffff   ;
    font-size: 1.2rem;
}
/* ---------------------  Header ----------------------------- */
.index_header{
    background-image: url(/img/index_hero.jpg);
    background-size: 100% 100%;
    width: 100%;
    height:90vh;
    

   
}
.index_header_title{
   

    background-image: linear-gradient(90deg, rgb(0,0,0,0), rgb(0,0,0,1));
    background-size: 100% 100%;
    width: 100%;
    height: 100%;       
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 4rem;

}
.index_header_title *{
color: #ffffff;
justify-content: center;
margin-bottom: 0rem; /* por default */
}
/* ------------------ Descripcion del sitio ---------------------- */
.index_description_site{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    

    
   
    
}
.index_description_site_item{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    width: var(--width_general);
    height: 33.33%;
    
}

    /* caja 1 */
.index_description_site_item_tit{
    height: 100%;
    width: 70%;
    padding: 2rem;
    padding-top: 3rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index_description_site_item_img_1{
    height:18rem;
    width: 30%;
    margin: 2rem;
    background-image: url(/img/index_nuestra_mision.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
   
}

    /* caja 2 */
.index_description_site_item_img_2{
        height:18rem;
        width: 30%;
        margin: 2rem;
        background-image: url(/img/index_nuestra_vision.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 1rem;
       
}

    /* caja 3 */
.index_description_site_item_img_3{
        height:18rem;
        width: 30%;
        margin: 2rem;
        background-image: url(/img/index_contamos.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 1rem;
        

}

/* ------------------- Cuadro de Funcionamiento ----------------*/
.index_cuadro_titulo{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;
    border-top: 1px solid var(--detalles);
    
}
.index_cuadro_titulo h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 0rem /* por default*/;
   
}
/*-------------------------*/
.index_cuadro_entero{
    background-image: linear-gradient(90deg, rgb( 212, 230, 241), rgb(254,254,254));

}
.index_cuadro {
    
    margin-left: 2rem;
    margin-right: 2rem;
  
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch; 

    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--detalles);
    
    
}
.index_cuadro_item{
    width: 33.33%;
    
    margin: .4rem;
    padding: .5rem;
    background-color: #ffffff;
    border: 1px solid var(--detalles) ;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
   
    
}

/* ----------- Cuadro Indice Masa Corporal --------- */
.index_calculo_masa{
    margin: 2rem;
    border-bottom: 1px solid var(--detalles);
    padding-bottom: 2.5rem;
    
    display: flex;
    flex-direction: row;
}

/* -----------------------*/

.index_calculo_masa_item_1{
    display: flex;
    flex-direction: column;

    padding-right: 2.5rem;
    width: 60%;
}
.index_calculo_masa_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index_calculo_masa_form_datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index_calculo_masa_form_datos *{
    margin: .3rem;
}
.index_calculo_masa_form_datos_boton{
    background-color: var(--bg_color_nav);
    color: #ffffff;
    padding: .5rem;
    border: 1px solid #ffffff;
    border-radius: .5rem;
}

* ---------------------- */

.index_calculo_masa_item_2{
    display: flex;
    flex-direction: column;

    width: 40%;
}


/* -------- footer ------- */
.index_footer {

    background-color: var(--bg_color_nav);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}



/* ------------------ */
.index_footer_item_1 {
    display: flex;
    flex-direction: column;
}
.index_footer_item_1 *{
    display: flex;
    flex-direction: row;
    color: #ffffff;
}
.index_footer_menu_ul *{
    text-decoration: none;
    padding-left: .2rem;
    padding-right: .2rem;
    list-style-type: none;
    color: #ffffff;
    font-size: 1.15rem;
}
.index_footer_menu_ul:hover *{
    text-decoration: none;
    padding-left: .19rem;
    padding-right: .19rem;
    list-style-type: none;
    color: #ffffff;
    font-size: 1.16rem;

}

.index_footer_redes_ul *{
    align-items: baseline;
    text-decoration: none;
    padding-left: .2rem;
    padding-right: .2rem;
    list-style-type: none;
    color: #ffffff   ;
    font-size: 2rem;
}

/* --------------- */
.index_footer_item_2 {
    padding-top: 1.5rem;

}
.index_footer_item_2 *{
    color: #ffffff;

}



/* ====== Pagina 1 ==========*/
        
/* -------- header ------- */
/* --------  body -------- */
/* -------- footer ------- */


/* ====== Pagina 2 ==========*/
        
/* -------- header ------- */
/* --------  body -------- */
/* -------- footer ------- */