html
{
  background-color:
  black;


}
p
{
    color:white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1
{
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3 ,h4

{
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body
{
    background-color:
    #3498DB ;
    padding: 30px;
           
}

header {
    background-color: rgb(47,47,47);
    padding: 20px;
    text-align: center;
    width: 1360px;
    height: 400px;

    
    
    

  }
  
  footer {
  
    background-color:rgb(47, 47, 47);
    text-align: center;
    padding: 10px;
    width: 1360px;
    height: 400px;

  }
 
  a:hover {
   color: white;
   background-color:grey;

}

a {
  color:red;
}
ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 8px;
  text-decoration: none;
}


.contenedor{
  background-color:#1B4F72 ; 
  padding:15px ;
  width:1366px;
  height:600px;
  display: flex;
  
  }
  .elemento{
  background-color:black;
    margin: 50px;
    height: 500px;
    width: 200px;
    text-align: justify;
  
  }

  .Imc{
    text-align: center;
    padding: 50px;
    background-color:#7B7D7D;
    
    
  }
 
  /*barra horizontal2*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  


  
  

