html
{background-color:black

}
p
{
    color:white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1
{
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2
{
    color: white;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body
{
    background-color:black
           
}

header {
    background-color: rgb(47,47,47);
    padding: 20px;
    text-align: center;
    
    

  }
  
  footer {
    color:royalblue;
    background-color:rgb(47, 47, 47);
    text-align: center;
    padding: 10px;
  }
 
  a:hover {
   color: white;
   background-color:grey;

}

a {
  color:red;
}
ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 8px;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}